math_verify
deepspeed==0.14.5
trl==0.18.0
transformers>=4.51.3
rouge-score
vllm==0.8.5.post1
pydantic==2.10.6
fastapi==0.115.12
requests
cryptography==44.0.2
fastapi==0.115.12
frozenlist==1.5.0
grpcio==1.71.0
jsonschema==4.23.0
nvidia-ml-py==12.570.86
pandas==2.2.3
pyasn1==0.6.1
pyasn1-modules==0.4.2
pydantic==2.10.6
pyjwt==2.10.1
smart-open==7.1.0
starlette==0.46.2
urllib3==2.4.0
uvicorn==0.34.1
watchfiles==1.0.5
json_repair
qwen-agent
clip_client
protobuf==3.20.3
codetiming==1.4.0